@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.container {
  .uppercase {
    text-transform: uppercase;
  }
}

.burger-row-container {
  background-image: url(/images/simplify-devops/burger-1.jpg);
  background-position: right center;

  .jumbotron {
    padding: 1px 40px 40px;
    background-color: #fff;
    margin: 50px 0;
    border-radius: 3px;
  }
}

.video-gitlab-explained-container {
  .video-thumb-container {
    position: relative;
    transition: $transition-primary;
    cursor: pointer;
    border-radius: $border-radius-xl;
    overflow: hidden;

    .video-thumb {
      width: 100%;
      filter: blur(6px);
      transform: scale(1.05);
    }

    .video-play-container {
      width: 250px;
      position: absolute;
      left: calc(50% - 75px);
      top: calc(50% - 25px);

      .coming-soon {
        font-family: SourceSansPro-Black, Source Sans Pro;
        font-size: 20px;
        letter-spacing: 2px;
        width: 160px;
        color: #fff;
      }

      svg {
        transition: $transition-primary;

        @keyframes videoPlayIcon {
          50% {
            stroke-dashoffset: 0;
          }
          to {
            stroke-dashoffset: -204;
          }
        }

        .play-icon-outline {
          animation: videoPlayIcon 4s linear forwards infinite;
          stroke-dasharray: 204;
          stroke-dashoffset: 204;
          transform-origin: center center;
        }
      }
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: $box-shadow-large;

      svg {
        transform: scale(1.05);
      }
    }
  }

  @media all and (max-width: $screen-md-min) {
    .video-thumb-container:first-child {
      margin-bottom: 20px;
    }
  }
}

.simplified-devops-container {
  display: flex;
  flex-direction: row;
  margin: $spacing-unit-sm auto;

  .showcase-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#e3d3f7, #f3cdce);
    padding: 35px;
    border-radius: $border-radius-large;
    box-shadow: $box-shadow;
    text-align: center;
    margin: 5px;
    transition: $transition-primary;
    cursor: pointer;

    .showcase-icon {
      margin-top: 27px;
    }

    h1 {
      margin-bottom: 0;
    }

    h5 {
      color: $color-primary;
    }

    &:hover {
      text-decoration: none;
      transform: scale(1.02);
      box-shadow: $box-shadow-large;
    }
  }
}

@media (max-width: $container-large-desktop) {
  .simplified-devops-container {
    flex-direction: column;
  }
}
